@import "tailwindcss";

@font-face {
    font-family: RM;
    src: url(./Zian.ttf);
}
@font-face {
    font-family: Thin;
    src: url(./Thin.ttf);
}
@font-face {
    font-family: penna;
    src: url(./penna.ttf);
}